@font-face {
  font-family: "Inter";
  src: url("../../shared/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../../shared/fonts/Inter-Bold-slnt=0.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("../../shared/fonts/NotoSansKR-Regular.otf")
    format("opentype");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF, U+0030-0039;
}
@font-face {
  font-family: "NotoSansKr-Bold";
  src: url("../../shared/fonts/NotoSansKR-Bold.otf") format("opentype");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF, U+0030-0039;
}

h3, h1 {
  font-family: "NotoSansKr-Bold", "Inter-Bold";
  color: #2c2c2c;
  font-weight: bold;
}
p, a {
  font-family: "NotoSansKr", "Inter";
  color: #2c2c2c;
}
div.elysia-mobile {
  margin: 30px 20px;
  background-color: #ffffff;
}
img.mobile-elysia-logo {
  width: 150px;
  margin: 30px 10px 0px;
}
img.mobile-elysia-logo-white {
  width: 150px;
}
p.mobile-main-text {
  font-size: 30px;
  text-align: center;
  white-space: pre-line;
  font-family: "Inter-Bold";
  font-weight: bold;
  margin: 75px auto 65px auto;
}
p.mobile-main-subtext {
  font-family: "Inter";
  cursor: default;
  color: #747474;
  font-size: 15px;
  text-align: center;
}
img.mobile-app-store {
  width: 125px;
  height: 38px;
}
img.mobile-google-play {
  width: 125px;
  height: 38px;
}
div.mobile-main-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
}
img.mobile-elysia-app {
  width: 100%;
  margin-top: 50px;
}
div.mobile-slider-container {
  margin-top: 75px;
}
div.mobile-swiper-container {
  display: inline-block;
}
div.mobile-slider-handler {
  width: 100%;
  margin-top: 215px;
  display: inline-block;
}
img.mobile-slider-square {
  margin: 0px auto;
  margin-bottom: 0px;
  display: block;
}
section.mobile-contents-mobile-wrapper {
  width: 100%;
}
p.mobile-header-label {
  font-size: 24px;
  text-align: center;
  font-family: "Inter-Bold";
  font-weight: bold;
  width: 300px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 11px;
  text-align: center;
}
p.mobile-service-label {
  font-size: 14px;
  text-align: center;
  font-family: "Inter";
  width: 300px;
  margin: 0 auto;
}
div.mobile-slider-wrapper {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
}
span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #f0f0f1 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 1;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: #3679b5 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #2498ff99;
  border-radius: 1px;
}
div.mobile-mliestone-label-wrapper {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
}
div.mobile-mliestone-label {
  font-size: 18px;
  color: #333333;
  text-align: center;
  vertical-align: bottom;
}
p.mobile-mliestone-label {
  font-size: 12px;
  color: #3679b5;
  text-align: center;
  vertical-align: bottom;
}
div.mobile-mliestone-slider-container {
  height: 300px;
  margin-top: 115px;
}
div.mobile-mliestone-slider-dot {
  width: 20px;
  height: 20px;
  background: #3679b5;
  box-shadow: 0px 3px 6px #2498ff9a;
  border-radius: 5px;
  margin: 0 auto;
}
div.swiper-button-next {
  width: 12px;
  height: 12px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 2px 3px #00000026;
  border-radius: 2px;
  opacity: 1;
}
div.swiper-button-prev {
  width: 12px;
  height: 12px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 2px 3px #00000026;
  border-radius: 2px;
  opacity: 1;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
div.mobile-mliestone-slider-line {
  position: absolute;
  height: 1px;
  background-color: #3679b5;
  width: 100%;
  margin-top: 9px;
  left: 0;
}
div.mobile-mliestone-slider-handler {
  position: relative;
}

div.mobile-team-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px;
}
img.mobile-team-picture {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  display: block;
}
img.mobile-team-picture.hover {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  z-index: 2;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px #00000052;
  &:hover {
    opacity: 1;
  }
}
div.mobile-team-info-wrapper {
  width: 120px;
}
section.mobile-team-wrapper {
  text-align: left;
  width: 300px;
  margin: 0 auto;
}
p.mobile-team-header-text {
  margin: 100px auto 50px auto;
}
div.mobile-team-info-wrapper > h3 {
  margin: 12px 0px 5px 0px;
  text-align: left;
  font-size: 15px;
  font-family: "Inter-Bold";
}
div.mobile-team-info-wrapper > p {
  margin: 0px;
  text-align: left;
  font-size: 13px;
  color: #888888;
}

section.mobile-partners-wrapper {
  margin-top: 150px;
}
p.mobile-pertners-header-text {
  margin-bottom: 50px;
}
img.mobile-partners-picture {
  display: inline-block;
  height: 68px;
  margin-bottom: 10px;
}
div.mobile-partners-container {
  display: flex;
  flex-wrap: wrap;

  div.mobile-partners-item {
    flex: 0 50%;
    box-sizing: border-box;
    width: 135px;
  }
}

section.mobile-contact-wrapper {
  margin-top: 250px;
  text-align: center;
  margin-bottom: 80px;
}
p.mobile-contact-header-text {
  font-size: 24px;
  font-family: "Inter-Bold";
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: bold;
}
button.mobile-contact-button {
  width: 127px;
  height: 45px;
  background: #3679b5;
  box-shadow: 0px 3px 6px #2498ff99;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;
  border: none;
  font-family: "Inter";
  cursor: pointer;
}

footer.mobile-footer {
  background-color: #1a1a1a !important;
}
div.mobile-footer-container {
  background-color: #333333;
}
div.mobile-footer-wrapper {
  padding-top: 36px;
  width: 300px;
  margin: 0 auto;
}
div.mobile-footer-container-contact > p,
p.mobile-footer-header-text {
  color: #ffffff;
  font-size: 15px;
}
div.mobile-footer-container-contact > p.mobile-footer-text {
  color: #b7b7b7;
  font-size: 13px;
}
div.mobile-footer-container-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  margin-top: 25px;
  padding-bottom: 30px;
}
p.mobile-footer-header-text {
  margin-top: 30px;
}
img.mobile-footer-icon {
  margin: 0px;
}
div.mobile-footer-container-icon > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.mobile-footer-lower {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
}
div.mobile-footer-container-logo {
  margin: 40px auto 30px;
}
p.mobile-elysia-logo-text {
  font-size: 13px;
  color: #b7b7b7;
}
p.mobile-footer-link {
  text-decoration: underline;
  font-size: 13px;
  color: #fff;
}
div.mobile-footer-link-wrapper {
  flex: auto;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
p.mobile-footer-copyright {
  color: #b7b7b7;
  font-size: 13px;
  margin: 0;
}
div.mobile-modal {
  background-color: rgb(255, 255, 255);
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: hidden !important;
  touch-action: none;
}
section.mobile-contact-wrapper {
  display: block;
  margin: 10px auto;
  text-align: center;
}
a.mobile-modal-quit {
  float: right;
}
h1.mobile-contact-header {
  margin-top: 8vh;
  font-family: "Inter-bold";
}
input.mobile-contact-email-input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  font-family: "Inter";
  font-size: 14px;
  box-sizing: border-box;
}
textarea.mobile-contact-message-input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  width: 100%;
  height: 30vh;
  resize: none;
  font-family: "Inter";
  font-size: 14px;
  box-sizing: border-box;
}
p.mobile-contact-email-label,
p.mobile-contact-message-label {
  font-size: 13px;
  text-align: left;
  margin-bottom: 7.5px;
  margin-top: 20px;
}
span.mobile-contact-required-point {
  color: #b53636;
}
p.mobile-contact-message-info {
  font-size: 10px;
  color: #888888;
  text-align: left;
  margin-top: 7.5px;
  margin-bottom: 65px;
}
button.mobile-contact-button {
  width: 127px;
  height: 45px;
  background: #3679b5;
  box-shadow: 1px 3px 8px #00000052;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: none;
  font-family: "Inter";
  cursor: pointer;
  margin: 20 auto;
}

div.wrapper__event--mobile {
  margin: 30px 20px;
  background-color: #ffffff;
}
h1.text--header__moblie {
  font-size: 27px;
  text-align: center;
  margin: 52px 0px;
}
p.text--header__label__moblie {
  font-size: 15px;
  color: #333333;
  text-align: center;
}
div.container__building-slider__mobile {
  margin-top: 44px;
  margin-bottom: 60px;
}
h1.Text__header__mobile {
  font-size: 24px;
  margin-bottom: 24px;
}
div.Text-wrapper__mobile {
  background-color: #FAFAFA;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  padding: 18px 20px;
  margin-bottom: 57px;
}
p.Text__insert__mobile {
  font-size: 14px;
  color: #333333;
  margin: 0px;
}
h1.Text__insert__mobile {
  font-size: 15px;
  color: #333333;
  margin: 0px;
  font-family: "NotoSansKr-Bold";
  margin-top: 10px;
  margin-bottom: 10px;
}
p.Text__insert__mobile > span {
  font-size: 10px;
}
p.Text__label--footer__mobile {
  font-size: 11px;
  text-align: right;
}
p.QNA--label__mobile {
  font-size: 13px;
  line-height: 24px;
}
p.Text__hyperlink__mobile {
  width: 100%;
height: 45px;
text-align: center;
line-height: 45px;
box-shadow: 0px 3px 6px #B9B9B964;
border: 1px solid #3679B5;
border-radius: 5px;
opacity: 1;
}
div.Wrapper__text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}
div.Alert-wrapper__mobile {
  border-radius: 5px;
  background-color: #888888;
  padding: 11px 8px;
  margin-top: 55px;
}
p.Alert-wrapper__text__mobile {
  color: #fff;
  font-size: 11px;
  margin: 0px;
}

/*  */ 
img.image__header__mobile {
  width: 300px;
}
.container__slider-wrapper__mobile {
  margin: 30px auto;
}
table.table--event-page__mobile {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-top: 5px solid #7E0C07;
  border-bottom: 5px solid #7E0C07;
  border-collapse: collapse;
  color: #1D1D1D;
  font-family: "notoSansKr";
}
table.table--event-page__mobile > tr > td {
  border: 1px solid #000;
  padding: 7px 12px;
  font-size: 15px;
}
table.table--event-page__mobile tr td:first-child {
  width: 60px;
}
h1.text__td--first__mobile {
  font-family: "Inter-Bold";
  font-size: 15px;
  margin: 0;
  text-align: center;
}
p.text--footer {
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
}
span.line-height {
  line-height: 50px;
  margin-top: 10px;
}
.button__hyperlink {
  border: 2px solid #C01811;
  margin: 0;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 12px;
  margin-top: 10px;
}
button.button__contact {
  width: 155px;
  height: 45px;
  background: #3679b5;
  box-shadow: 1px 3px 8px #00000052;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: none;
  font-family: "Inter";
  cursor: pointer;
}
h1.text__table-header {
  font-family: "Inter-Bold";
  font-size: 18px;
  margin: 0;
  margin-top: 40px;
}
p.text--footer__mobile {
  font-size: 11px;
}
.button__hyperlink__mobile {
  border: 2px solid #C01811;
  margin: 0;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1px;
}
div.container__image--bottom {
  position: relative;
  bottom: 6px;
  background-color: #51120D;
  width: 100%;
  height: 80px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  padding: 15px 0px;
  margin: 0;
}
div.background__event__mobile {
  background: linear-gradient(rgb(132, 13, 6) 95px, rgb(132, 13, 6) 567px, rgb(81, 18, 13) 509px, rgb(81, 18, 13) 677px, rgb(255, 255, 255) 670px);
}